<?xml version="1.0"?>
<launch>
  <include file="$(find racecar_simulator)/launch/simulator.launch">
        <arg name="map" value="$(find race_monitor)/maps/race_track_f110.yaml"/>
  </include>
  
  <include file="$(find race_monitor)/launch/race_monitor.launch"/> 

  <node pkg="virtualfastkeyboardfurious_final_race" name="final_race_node" type="final_race.py" output="screen"/>
  <node pkg="virtualfastkeyboardfurious_final_race" name="sim_connector_node" type="sim_connector.py" output="screen"/>

    <node pkg="virtualfastkeyboardfurious_final_race" name="visualize_markers_node" type="visualize_markers.py" output="screen"/>
    <!--<node pkg="virtualfastkeyboardfurious_final_race" name="pp_error" type="error_analysis.py" output="screen"/>-->
    <node pkg="rviz" type="rviz" name="rviz_pp" args="-d $(find virtualfastkeyboardfurious_final_race)/rviz_cfg/pure_pursuit_sim.rviz" output="screen"/>

</launch>
    